<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
		<servlet>
    <servlet-name>ResourceDownload</servlet-name>
    <servlet-class>servlet.ResourceDownload</servlet-class>
  </servlet>
  <servlet>
    <description>managerLogin</description>
    <display-name>managerLogin</display-name>
    <servlet-name>MLogin</servlet-name>
    <servlet-class>servlet.MLogin</servlet-class>
  </servlet>
  <servlet>
    <description>MLoginOut</description>
    <display-name>MLoginOut</display-name>
    <servlet-name>MLoginOut</servlet-name>
    <servlet-class>servlet.MLoginOut</servlet-class>
  </servlet>
  <servlet>
    <description>MessageUpload</description>
    <display-name>MessageUpload</display-name>
    <servlet-name>MessageUpload</servlet-name>
    <servlet-class>servlet.MessageUpload</servlet-class>
  </servlet>
  <servlet>
    <description>RentBook</description>
    <display-name>RentBook</display-name>
    <servlet-name>RentBook</servlet-name>
    <servlet-class>servlet.RentBook</servlet-class>
  </servlet>
  <servlet>
    <description>ReturnBook</description>
    <display-name>ReturntBook</display-name>
    <servlet-name>ReturnBook</servlet-name>
    <servlet-class>servlet.ReturnBook</servlet-class>
  </servlet>
  <servlet>
    <description>emNotice</description>
    <display-name>emNotice</display-name>
    <servlet-name>emNotice</servlet-name>
    <servlet-class>servlet.emNotice</servlet-class>
  </servlet>
  <servlet>
    <description>TestEmail</description>
    <display-name>TestEmail</display-name>
    <servlet-name>TestEmail</servlet-name>
    <servlet-class>servlet.TestEmail</servlet-class>
  </servlet>
  <servlet>
    <description>BookRent</description>
    <display-name>BookRent</display-name>
    <servlet-name>BookRent</servlet-name>
    <servlet-class>servlet.BookRent</servlet-class>
  </servlet>

  
   <servlet-mapping>
    <servlet-name>ResourceDownload</servlet-name>
    <url-pattern>/servlet/ResourceDownload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MLogin</servlet-name>
    <url-pattern>/servlet/MLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MLoginOut</servlet-name>
    <url-pattern>/servlet/MLoginOut</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessageUpload</servlet-name>
    <url-pattern>/servlet/MessageUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RentBook</servlet-name>
    <url-pattern>/servlet/RentBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReturnBook</servlet-name>
    <url-pattern>/servlet/ReturnBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>emNotice</servlet-name>
    <url-pattern>/servlet/emNotice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestEmail</servlet-name>
    <url-pattern>/servlet/TestEmail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookRent</servlet-name>
    <url-pattern>/servlet/BookRent</url-pattern>
  </servlet-mapping>
 
  
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
